/** @format */

.HomeContainer {
  background-color: black;
  height: 100vh;
  width: 100vw;
  overflow-y: scroll;
  position: relative;
}

.navContainer {
  background-color: #232323;
  margin-top: 60px;
}
.navbar-fixed-top {
  position: fixed !important;
}

.positionOfSearchbar {
  position: relative;
  top: 10%;
}
.inputSearch{
  width: 200px ;height: 40px;  border-radius: 25px;
  padding: 10px;
  border: none;
  background-color: #ffffff;
}

.navColor {
  background-color: #232323 !important;
  width: 100vw;
  padding-top: 20px;
}
.navbarFlexingContainer {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.carousalSectionOne {
  background-color: #ff6548;
}
.carousalSection {
  border-radius: 75px;
  padding: 20px;
  margin: 20px;
  width: 319px;
  height: 445px;
}
.carousalSectiontwo {
  background-color: #df7af2;
}
.carousalSectionthree {
  background-color: #b4a9f7;
}
.carousel-indicators [data-bs-target] {
  height: 10px;
  width: 80px;
  position: relative;
  border-radius: 14px;
  top: 40px;
  background-color: #b4a9f7 !important;
}
.bookNowButton {
  width: 217px;
  height: 37px;
  margin-left: 40px;
  border-radius: 75px;
  background-color: #111111;
  color: #ffffff;
  border: none;
  margin-top: 30px;
}
.logo {
  width: 45px;
  height: 45px;
}
.carousalHeadings {
  width: 284px;
  height: 104px;
  padding-top: 10px;
  font-family: Raleway;
  font-size: 28px;
  font-weight: 800;
  line-height: 33px;
  letter-spacing: 0em;
  text-align: center;
  color: #ffffff;
  text-shadow: 2px 2px gray;
}
.carousel-inner {
  display: flex !important;
  flex-direction: row !important;
  justify-content: center !important;
  padding: 20px;
}
.continerPortionOne {
  padding: 20px;
  margin-bottom: 50px;
}
.carousalSpan {
  font-weight: 100;
}
.carousalImg {
  width: 200px;
  height: 200px;
  margin-left: 50px;
}
.weAreText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 200;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
.headingText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 45px;
  font-weight: 600;
  line-height: 53px;
  letter-spacing: 0em;
  text-align: left;
}
.portionOneDecs {
  color: #ffffff;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 100;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
  width: 335px;
  height: 138px;
}
.servicesChoosePortion {
  margin-bottom: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.servicesChooseContainer {
  width: 350px;
  height: 200px;
  top: 887px;
  left: 20px;
  border-radius: 175px;
  background-color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.arrowIcon {
  color: black;
  margin-left: 20px;
}
.serviceBtn {
  width: 300px;
  height: 50px;
  border-radius: 50px;
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 20px;
}
.serviceImg {
  width: 191px;
  height: 189px;
  border-radius: 94.5px;
}
.portionTwo {
  /* height: 970px; */
  top: 1823px;
  border-radius: 50px;
  background: #1e1e1e;
  padding: 20px;
  margin-bottom: 50px;
}

.bestSalonText {
  height: 56px;
  color: #ffffff;
  font-weight: 200;
}
.flexPortion {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 10px;
}
.spanContainer {
  color: #ffffff;
  font-weight: 700;
}
.countSalonText {
  font-family: Noto Sans Symbols;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.groomerSalonText {
  font-family: Raleway;
  font-size: 20px;
  font-weight: 400;
  color: #ffffff;
}
.individualSalonImg {
  width: 147.90133666992188px;
  height: 150px;
  margin-right: 20px;
  border-radius: 25px;
}
.descriptionAbouIndividualText {
  color: #ffffff;
  font-family: Raleway;
  font-size: 14px;
  font-weight: 400;
}
.exploreConatiner {
  margin-top: 50px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.exploreMoreBtn {
  width: 178px;
  height: 35px;
  border-radius: 38px;
  color: #ffffff;
  background-color: #ff6548;
  border: none;
}
.portionThree {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.salonText {
  width: 297px;
  height: 24px;
  top: 3038px;
  left: 44px;
  color: #ffffff;
  font-family: Raleway;
  padding-top: 10px;
}

.descriptionText {
  width: 311px;
  height: 95px;
  top: 3072px;
  left: 47px;
  color: #ffffff;
  font-family: Raleway;
  padding-top: 20px;
}

.btnConatiner {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-bottom: 60px;
  margin-top: 60px;
}

.bookNowBtn {
  width: 120px;
  height: 25px;
  top: 3177px;
  left: 238px;
  font-family: Raleway;
  border-radius: 38px;
  font-size: 10px;
  font-weight: 800;
  line-height: 12px;
  letter-spacing: 0em;
  text-align: center;
  background: #ff6548;
  color: #ffffff;
  border: none;
  margin-top: 20px;
}

.salonImg {
  width: 325px;
  height: 200px;
  top: 2823px;
  left: 33px;
  border-radius: 15px;
}
.footerContainer {
  background-color: #232323;
  border: solid 5px #000;
  border-radius: 80%/100px 100px 0 0;
  padding: 40px;
}
.groomerText {
  width: 122px;
  height: 17.07px;
  top: 3330.24px;
  left: 20px;
  font-family: Raleway;
  font-size: 20px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.footerContent {
  font-family: Raleway;
  font-size: 8px;
  font-weight: 300;
  line-height: 9px;
  letter-spacing: 0em;
  text-align: left;
  color: #ffffff;
}
.flexContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}
.copyRightsText {
  font-family: Raleway;
  font-size: 5px;
  font-weight: 200;
  line-height: 6px;
  color: #ffffff;
  padding-top: 20px;
}
.icon {
  color: #ffffff;
  width: 22.5px;
  height: 15px;
}
.iconContainer{
  color: #ffffff;
    margin: 20px;
}
.minIcon {
  width: 12.032054901123047px;
  height: 7.5px;
  top: 3344px;
  left: 142px;
}
.settingsContainer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.accSettingsList {
  background-color: #232323;
  width: 178px;
  border-radius: 25px;
  text-align: center;
  padding: 10px;
  color: #ffffff !important;
  margin-right: 100px !important;
}
.flexingMenubar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}

.dropdown-menu{
  left: -150% !important;
}
.dropdown-menu > li {
  color: #ffffff !important;
  font-weight: 100 !important;
  width: 146.7719268798828px !important;
  height: 25.0884952545166px !important;
  border-radius: 20px !important;
  margin-bottom: 5px !important;
  background-color: #7b7b7b;
  font-family: Raleway !important;
  font-size: 18px !important;
  font-weight: 100 !important;
  line-height: 21px !important;
  letter-spacing: 0em !important;
  text-align: center !important;
  cursor: pointer;
}

.dropdown-toggle::after {
  display: none !important;
  margin-left: 0px !important;
}
.dropdown-menu > li :hover {
  color: #ffffff !important;
  background-color: #7b7b7b !important;
  border-radius: 20px !important;
  width: 146.7719268798828px !important;
  height: 25.0884952545166px !important;
  cursor: pointer;
}

.homeIcon {
  color: #ffffff;
}
.flexing {
  margin: 20px;
}
.portionThreeVisible {
  display: none;
}
@media screen and (max-width: 768px) {
  .indicatorBtn {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .salonImg {
    width: 400px;
    height: 400px;
    border-radius: 72px;
  }
  .headingText {
    font-size: 128px;
    font-weight: 400;
  }
  .continerPortionOne {
    padding-top: 80px;
    padding-bottom: 80px;
  }
  .footerContent {
    font-size: 12px;
  }
  .icon {
    color: #ffffff;
    width: 40px;
    height: 40px;
  }
  .copyRightsText {
    font-size: 12px;
  }
  .portionThreeVisible {
    display: block;
  }
  .groomerText {
    font-size: 20px;
  }
  .alignPortionTwo {
    padding-left: 100px;
  }
  .serviceBtn {
    display: none;
  }
  .portionThreeVisible {
    display: block;
    overflow: hidden;
    white-space: nowrap;
  }
  .servicesChooseContainer {
    width: 350px;
    height: 200px;
    border-radius: 300px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
  }
  .carousalSection {
    width: 80vw;
    height: 300px;
    border-radius: 290px;
  }
  .indicatorBtn {
    background-color: #ffffff !important;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    color: #000 !important;
  }
  .indicatorIcon {
    height: 40px;
    width: 40px;
    padding-top: 15px;
  }
  .carousalImg {
    margin-left: 100px;
    margin-top: 30px;
  }
  .portionThreeVisible:first-of-type {
    margin-right: 200px;
    animation: slidein 7s infinite;
  }
  .portionThreeVisible:last-of-type {
    margin-left: 200px;
    animation: slidein 7s infinite;
  }
  .bestSalonText {
    color: #ffffff;
  }
  @keyframes showup {
    0% {
      opacity: 0;
    }

    20% {
      opacity: 1;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
    }
  }

  @keyframes slidein {
    0% {
      margin-left: -800px;
    }

    20% {
      margin-left: -800px;
    }

    35% {
      margin-left: 0px;
    }

    100% {
      margin-left: 0px;
    }
  }

  @keyframes reveal {
    0% {
      opacity: 0;
      width: 0px;
    }

    20% {
      opacity: 1;
      width: 0px;
    }

    30% {
      width: 355px;
    }

    80% {
      opacity: 1;
    }

    100% {
      opacity: 0;
      width: 355px;
    }
  }
}
@media screen and (max-width: 576px) {
  .flexing {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 20px;
  }
   
}
@media screen and (max-width:768px){
  .positionOfSearchbar {
    background-color: #232323;
      position: absolute;
      top: 100%;
      right: 0;
      height: 100vh;
      width: 100vw;
      opacity: 0.4;
    }
    .inputSearch{
      position: relative;
      left: 25%;
      background-color: #ffffff !important;
    }
}